<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

nav {
  z-index: 10
}

nav.scrolled {
  @apply bg-red-900;
  @apply shadow-2xl;
  border-bottom: 0px;
}

.button--yellow {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgb(245, 158, 11);
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--yellow:hover {
  color: #001;
  background-color: rgb(254, 243, 199);
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.text-shadow-sm {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.9);
}

.text-shadow-md {
  text-shadow: 0 2px 4px rgba(0,0,0,0.9);
}

.text-shadow-lg {
  text-shadow: 4px 4px 4px rgba(0,0,0,0.9);
}
</style>
