<template>
 <div class="text-gray-800 antialiased">
    <nav
      :class="{ 'scrolled': !view.atTopOfPage }" 
      class="transition duration-500 ease-in-out top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-auto relative flex justify-between lg:static lg:block lg:justify-start"
        >
          <a
            class="inline-block mr-4 py-2 whitespace-no-wrap font-bold uppercase text-white text-shadow-md"
            href="#"
            >Nuteland Ranch</a>
        </div>
        <div
          class="flex flex-grow items-center bg-transparent lg:shadow-none"
        >
          <ul class="flex flex-col lg:flex-row list-none ml-auto">
            <li class="flex items-center">
              <a
                class="text-gray-100 text-shadow-sm px-3 py-4 lg:py-2 flex items-center uppercase font-bold"
                href="#"
                >
                About</a
              >
              <a
                class="text-gray-100 text-shadow-sm px-3 py-4 lg:py-2 flex items-center uppercase font-bold"
                href="#"
                >
                Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 80vh;"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("/img/hero.jpg");'
        >
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div>
                <div
                  class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-20 h-20 mb-6 shadow-lg rounded-full bg-white"
                  >
                    <img
                      alt="..."
                      src="/img/logo.png"
                    />
                </div>
                <h1 class="text-white font-bold text-5xl text-shadow-md">
                  Nuteland Ranch & Stable
                </h1>
                <p class="mt-4 text-2xl font-semibold text-white text-shadow-lg" style="text-shadow: 4px 4px 4px rgba(0,0,0,0.9);">
                  A full boarding home for your retired horse
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px; transform: translateZ(0px);"
        >
        </div>
      </div>
      <section class="pb-20 bg-red-900 -mt-24">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <h6 class="text-2xl font-semibold">Active Schedule</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    We provide 9-12 hours a day of turnout allowing for room to exercise and play.
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <h6 class="text-2xl font-semibold">Clean &amp; Safe</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Our fully matted facility is well maintained and cleaned daily.
                  </p>
                </div>
              </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <h6 class="text-2xl font-semibold">Social Horses</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Our paddocks encourage separate but safe interactions to develop strong herd dynamics.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap my-32">
            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
              <h3 class="text-3xl text-gray-200 mb-2 font-semibold leading-normal">
                About Nuteland Ranch & Stable
              </h3>
              <p class="mt-4 text-lg leading-8 text-gray-300">
                Located in beautiful Wilsonville Oregon, Nuteland Ranch & Stable is a small family owned farm.  The facility houses up to 4 horses and sits on 3 acres of rolling pasture.  The turnout area has several large paddocks that encourage separate but safe social interaction.
              </p>
              <p class="mt-4 text-lg leading-8 text-gray-300">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, nemo ducimus, eaque officiis aliquam excepturi laudantium, repudiandae rem ipsam eius eos omnis rerum iure fuga ullam voluptas ab dolorum vero?
              </p>
              <a class="button--yellow my-10" href="https://www.google.com/maps/place/23390+SW+Newland+Rd,+Wilsonville,+OR+97070/@45.350702,-122.7262164,16z/data=!4m5!3m4!1s0x54957204a6865b5d:0xd500a17c1ad20d17!8m2!3d45.350702!4d-122.7218391" target="_blank">Map</a>
            </div>
            <div class="w-full md:w-6/12 px-4 mr-auto ml-auto">
                <img
                  alt="..."
                  src="/img/inside-barn.webp"
                  class="w-full align-middle rounded-lg"
                />
            </div>
          </div>
        </div>
      </section>
      <section class="relative bg-yellow-100 py-48">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px; transform: translateZ(0px);"
        >
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-gray-600"
              >
                <img
                  alt="..."
                  src="/img/friesian.jpg"
                  class="w-full align-middle rounded-t-lg"
                />
                <blockquote class="relative p-8 mb-4">
                  <h4 class="text-xl font-bold text-white">
                    Charles Horsington III
                  </h4>
                </blockquote>
              </div>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                <h3 class="text-3xl font-semibold">Full Boarding</h3>
                <p class="mt-4 text-lg leading-8 text-black">
                  Nuteland Ranch provides full boarding which includes all the daily necessities for your horse.  Our staff cleans the stall, feeds your horse, provides fresh water and turns out horses to the pasture.
                </p>
                <p class="mt-4 text-lg leading-8 text-black">Additionally, Nuteland Ranch can maintain services such as farrier and veterinary visits.</p>
                <p class="mt-4 text-lg leading-8 text-black">
                  You may visit your horse as often as you like, but you are not required to visit your horse every day.  Monthly visits are encouraged so the owners can consult with Nuteland Ranch on any issues if they arise and address questions or concerns.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="relative bg-yellow-200 py-48">
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="lg:w-3/5 md:w-full ml-auto mr-auto px-4">
              <div class="md:pr-12">
                <h3 class="text-3xl font-semibold">Rate Schedule</h3>
                <div class="my-16 p-4 bg-white shadow-lg">
                  <table class="w-full table-auto">
                    <thead>
                      <tr>
                        <th>Service Provided</th>
                        <th>Monthly Fee</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Large stall (12x12)</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">$325</td>
                      </tr>
                      <tr class="bg-gray-200">
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Small stall (10x10)</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">$275</td>
                      </tr>
                      <tr>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Overnight Boarding</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">$30</td>
                      </tr>
                      <tr class="bg-gray-200">
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Hay twice daily</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Included</td>
                      </tr>
                      <tr>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Graining daily (optional and grain provided by owner)</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Included</td>
                      </tr>
                      <tr class="bg-gray-200">
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Fresh water</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Included</td>
                      </tr>
                      <tr>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Daily turnout</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Included</td>
                      </tr>
                      <tr class="bg-gray-200">
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Blanketing</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Included</td>
                      </tr>
                      <tr>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Fly masking</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Included</td>
                      </tr>
                      <tr class="bg-gray-200">
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Worming Schedule</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">$20</td>
                      </tr>
                      <tr>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">Holding (for farrier)</td>
                        <td  class="border border-gray-500 px-4 py-2 text-gray-600 font-medium">$10</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h5 class="text-2xl font-semibold">
                Required of all boarders
                </h5>
                <ul class="list-disc pl-4 my-4">
                  <li>Proof of worming once every three months.</li>
                  <li>Horses feet must be trimmed or shod every eight or nine weeks, or we will have it done and bill you.</li>
                  <li>Proof of 4/way shots each year.</li>
                  <li>Each horse must have its own halter and, if we are graining, its own labeled grain bin & bucket.</li>
                  <li>Each boarder should visit their horse at least monthly and consult with us on any questions or concerns.</li>
                  <li>All boarding fees and costs must be paid by the due date. A $30.00 late fee will be added if 15 days past due. After 30 days past due, a removal notice will be issued.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pt-20 bg-red-800 text-white pb-48">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold">We have Horse-cams!</h2>
              <p class="text-lg leading-relaxed m-4 text-gray-600">
                Sometimes you can't be here, so we'll bring your horse to you!
              </p>
              <p class="text-lg leading-relaxed m-4 text-gray-600">
                We have streaming video of our stable and pasture for you to view from any device.  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio modi suscipit harum, doloribus blanditiis assumenda magni.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="/img/mug-1.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Stable #</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Charlie Horse
                  </p>
                  <div class="mt-6">
                    <button
                      class="button--yellow"
                      type="button"
                    >Stream</button
                    >
                      <i class="fab fa-dribbble"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="/img/mug-2.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Stable #</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Seymour Oates
                  </p>
                  <div class="mt-6">
                    <button
                      class="button--yellow"
                      type="button"
                    >Stream</button
                    >
                      <i class="fab fa-dribbble"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="/img/mug-3.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Stable #</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Lance Mane
                  </p>
                  <div class="mt-6">
                    <button
                      class="button--yellow"
                      type="button"
                    >Stream</button
                    >
                      <i class="fab fa-dribbble"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="/img/mug-4.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Stable #</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Horsey McHorseguy
                  </p>
                  <div class="mt-6">
                    <button
                      class="button--yellow"
                      type="button"
                    >Stream</button
                    >
                      <i class="fab fa-dribbble"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pb-20 relative block bg-white">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
        >
        </div>
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-red-900">Connect with Us</h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-900">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, a? Unde sit quo consectetur ab maiores delectus nisi autem possimus repellendus voluptas a, hic vitae alias quibusdam dignissimos nihil. Tempora.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-center">
            <div class="w-full lg:w-3/12 px-4 text-center">
              <h5 class="text-xl mt-5 font-semibold text-gray-900">
                Instagram
              </h5>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <h5 class="text-xl mt-5 font-semibold text-gray-900">
                Facebook
              </h5>
            </div>
          </div>
        </div>
      </section>
      <section class="relative block py-24 lg:pt-0 bg-red-800">
        <div class="container mx-auto p-4">
          <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
            <div class="w-full lg:w-6/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-red-900"
              >
                <div class="flex-auto p-5 lg:p-10">
                  <h4 class="text-2xl font-semibold text-white">Want to know more?</h4>
                  <p class="leading-relaxed mt-1 mb-4 text-gray-400">
                    Send us a message if you have questions or would like to visit
                  </p>
                  <div class="relative w-full mb-3 mt-8">
                    <label
                      class="block uppercase text-gray-400 text-xs font-bold mb-2"
                      for="full-name"
                      >Full Name</label
                    ><input
                      type="text"
                      class="px-3 py-3 placeholder-gray-400 text-gray-400 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                      placeholder="Full Name"
                      style="transition: all 0.15s ease 0s;"
                    />
                  </div>
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-gray-400 text-xs font-bold mb-2"
                      for="email"
                      >Email</label
                    ><input
                      type="email"
                      class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                      placeholder="Email"
                      style="transition: all 0.15s ease 0s;"
                    />
                  </div>
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-gray-400 text-xs font-bold mb-2"
                      for="message"
                      >Message</label
                    ><textarea
                      rows="4"
                      cols="80"
                      class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                      placeholder="Type a message..."
                    ></textarea>
                  </div>
                  <div class="text-center mt-6">
                    <button
                      class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                      style="transition: all 0.15s ease 0s;"
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="relative bg-red-800 text-white pt-8 pb-6">
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px; transform: translateZ(0px);"
      >
      </div>
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl font-semibold">Let's keep in touch!</h4>
            <h5 class="text-lg mt-0 mb-2 text-gray-400">
              Find us on any of these platforms, we respond 1-2 business days.
            </h5>
            <div class="mt-6">
              <button
                class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
                type="button"
              >
                <i class="flex fab fa-twitter"></i></button
              ><button
                class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
                type="button"
              >
                <i class="flex fab fa-facebook-square"></i></button
              ><button
                class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
                type="button"
              >
                <i class="flex fab fa-dribbble"></i></button
              ><button
                class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
                type="button"
              >
                <i class="flex fab fa-github"></i>
              </button>
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-gray-400 text-sm font-semibold mb-2"
                  >Useful Links</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://www.creative-tim.com/presentation"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://blog.creative-tim.com"
                      >Blog</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://www.github.com/creativetimofficial"
                      >Github</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://www.creative-tim.com/bootstrap-themes/free"
                      >Free Products</a
                    >
                  </li>
                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-gray-400 text-sm font-semibold mb-2"
                  >Other Resources</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                      >MIT License</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://creative-tim.com/terms"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://creative-tim.com/privacy"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-500 hover:text-orange-600 font-semibold block pb-2 text-sm"
                      href="https://creative-tim.com/contact-us"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-gray-400" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-1/2 px-4 mx-auto text-center">
            <div class="text-sm text-gray-600 font-semibold py-1">
              Copyright © 2021 Nuteland Ranch LLC designed by
              <a
                href="https://dereknutile.com"
                class="text-gray-600 hover:text-gray-300"
                target="_blank"
                >Derek Nutile</a
              >.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  // in data, I like to store a view object with all 
  // the values I need for a component to manage 
  // it's 'view' state - ie loading, 
  // or in this case, if the user is at the top of the page or not
  data () {
      return {
          view: {
              atTopOfPage: true
          }
      }
  },

  // a beforeMount call to add a listener to the window
  beforeMount () {
      window.addEventListener('scroll', this.handleScroll);
  },

  methods: {
    // the function to call when the user scrolls, added as a method
      handleScroll(){
          // when the user scrolls, check the pageYOffset
          if(window.pageYOffset>10){
              // user is scrolled
              if(this.view.atTopOfPage) this.view.atTopOfPage = false
          }else{
              // user is at top of page
              if(!this.view.atTopOfPage) this.view.atTopOfPage = true
          }
      }
  }
}
</script>

<style>
</style>
